/* 26/02/2025 */
body {
    /* fonte do texto */
    font-family: Arial, sans-serif;
    background-color: rgb(53, 130, 255);
    /* usa modelo FlexBox, conceito de caixa para posicionamento */
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    height: 100vh; /* altura da página 100% da altura da página*/
    align-items: center; /* centraliza na vertical */

}
.container {
    background-color: white;
    padding: 20px; /* espaçamento interno */
    border-radius: 10px; /* borda */
    text-align: center; /* texto centralizado */
    box-shadow: 0 4px 8px ; /* sombra */
}
button {
    background-color: rgb(53, 130, 255);
    color: white; 
    border: none;
    /* 10 abaixo e 10 acima e 20 esquerda e 20 direita */
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out; /* Transição suave para transform */
}

/* ao passar o mouse em cima do botão */
button:hover {
    background-color: rgb(255, 179, 0);
    color: rgb(0, 0, 0);
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.foto {
    /* borda com cantos arredondados*/
    border-radius: 10%;
    /* largura */
    width: 300px;
    /* altura */
    height: 300px;
    /* espaçamento externo abaixo */
    margin-bottom: 10px;
    border: 5px solid #cccbd070; /* Cor da borda na foto*/
}