body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header{
    background-color: #28a745;
    color: white;
    padding: 15px 0px;
    font-size: 24px;
}
nav{
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#links-menu{
    display: flex;
    gap: 15px;
}
nav a{
    color: white;
    text-decoration: none;
    padding-right: 10px 15px;
    font-size: 18px;
    background-color: #0056b3;
    border-radius: 5px;
}